@import "../../variables.scss";

.input-textarea-box {
  position: relative;

  span {
    position: absolute;
    cursor: pointer;
    right: 10px;
    bottom: 10%;
    z-index: 2;
    width: max-content;
    // svg {
    //   width: 15px;
    //   height: 15px;
    // }
  }
  label {
    color: $blackShade1;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  textarea {
    z-index: 1;
    font-family: "Open Sans";
    color: $blackShade2;
    font-size: 13.3px;
    font-weight: 400;
    padding: 8px 40px 8px 12px;
    resize: none;
    border: 1px solid #ececec;
    border-radius: 7px;
    &::placeholder {
      color: $blackShade3;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
