@import "../../variables.scss";

.extraction {
  margin: 32px 15px 5px 22px;
  max-width: 390px;

  .details {
    .input-box {
      margin-bottom: 15px;
    }
  }
  .checkboxes {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: $blackShade2;
    div {
      cursor: pointer;
      width: max-content;
      margin-left: 60px;
      margin-bottom: 12px;
      svg {
        transform: translateY(3.5px);
      }
      label {
        margin-left: 5px;
        cursor: pointer;
        &.unchecked {
          color: $blackShade3;
        }
      }
    }
  }

  .extract-button {
    margin-bottom: 18px;
    text-align: center;

    button {
      position: relative;
      &.active {
        padding-left: 35px;
      }
      &.disabled {
        cursor: default !important;
        opacity: 0.5;
      }
      svg {
        position: absolute;
        margin: 0;
        left: 10px;
        top: 10px;
        display: inline !important;
        transform: translateY(2px);
      }
    }
  }
}
