$aquamarineShade1: #3edccf;
$aquamarineShade2: #39d4cf;
$orange-grad: linear-gradient(86.86deg, #ff754a 9.9%, #ffa92d 96.81%);
$blueShade1: #2d5380;
$blueShade2: #2d5380;

//black shades
$primaryBlack: #1f1e1f;
$blackShade1: #333333;
$blackShade2: #595959;
$blackShade3: #939393;
$blackShade4: #bfbfbf;
